@font-face {
    font-family: title;
    src: url('../asset/PPEiko-Medium.otf') format('OpenType');
}

@font-face {
    font-family: text;
    src: url('../asset/PPNeueMontreal-Medium.otf') format('OpenType');
}

:root{
    --text: 'text', 'sans serif';
    --title: 'title', 'sans serif';
    --primary-color: #eeeeee;
    --secondary-color: #F9B466;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    margin:  0;
    padding: 0;
    height: auto; 
}

.nota{
    margin-top: 5em;
    background-color: white;
    width: 80vh;
    padding: 2em;
    border: 1px solid black;
}
